.logo {
    width: 71px;
    height: 21px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
    
}
li {
    list-style-type: none;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
}
.header-link {
    text-decoration: none;
    color: #2E2F42;
}
.header-contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}
.header-contact-link {
    text-decoration: none;
    color: #434455;
}
.background {
    background: #2E2F42;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;;
}
.bomba {
    position: absolute;
    width: 496px;
    height: 120px;
    left: 472px;
    top: 260px;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}
.knopka {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    position: absolute;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 48px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    border: none;
    display: flex;
}
:root {
    color: #4D5AE5;
}